In [3]:
#Importing Libraries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plot

In [4]:
#Load Airport Codes Data
airportCodes = pd.read_csv("Airport_Codes.csv")
airportCodes.head()

,TYPE,NAME,ELEVATION_FT,CONTINENT,ISO_COUNTRY,MUNICIPALITY,IATA_CODE,COORDINATES
0,heliport,Total Rf Heliport,11.0,NaN,US,Bensalem,NaN,"-74.93360137939453, 40.07080078125"
1,small_airport,Aero B Ranch Airport,3435.0,NaN,US,Leoti,NaN,"-101.473911, 38.704022"
2,small_airport,Lowell Field,450.0,NaN,US,Anchor Point,NaN,"-151.695999146, 59.94919968"
3,small_airport,Epps Airpark,820.0,NaN,US,Harvest,NaN,"-86.77030181884766, 34.86479949951172"
4,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,Newport,NaN,"-91.254898, 35.6087"

In [7]:
airportCodes.columns

Index(['TYPE', 'NAME', 'ELEVATION_FT', 'CONTINENT', 'ISO_COUNTRY',
       'MUNICIPALITY', 'IATA_CODE', 'COORDINATES'],
      dtype='object')

In [5]:
#Load Flights Data
flights = pd.read_csv("Flights.csv")
flights.head()

C:\Users\chuks\AppData\Local\Temp\ipykernel_27820\917279174.py:2: DtypeWarning: Columns (3,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  flights = pd.read_csv("Flights.csv")

,FL_DATE,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,DESTINATION,DEST_CITY_NAME,DEP_DELAY,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE,OCCUPANCY_RATE
0,2019-03-02,WN,N955WN,4591,14635,RSW,"Fort Myers, FL",11042,CLE,"Cleveland, OH",-8.0,-6.0,0.0,143.0,1025.0,0.97
1,2019-03-02,WN,N8686A,3231,14635,RSW,"Fort Myers, FL",11066,CMH,"Columbus, OH",1.0,5.0,0.0,135.0,930.0,0.55
2,2019-03-02,WN,N201LV,3383,14635,RSW,"Fort Myers, FL",11066,CMH,"Columbus, OH",0.0,4.0,0.0,132.0,930.0,0.91
3,2019-03-02,WN,N413WN,5498,14635,RSW,"Fort Myers, FL",11066,CMH,"Columbus, OH",11.0,14.0,0.0,136.0,930.0,0.67
4,2019-03-02,WN,N7832A,6933,14635,RSW,"Fort Myers, FL",11259,DAL,"Dallas, TX",0.0,-17.0,0.0,151.0,1005.0,0.62

In [6]:
#Load tickets data
tickets = pd.read_csv("Tickets.csv")
tickets.head()

,ITIN_ID,YEAR,QUARTER,ORIGIN,ORIGIN_COUNTRY,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,ROUNDTRIP,REPORTING_CARRIER,PASSENGERS,ITIN_FARE,DESTINATION
0,201912723049,2019,1,ABI,US,TX,Texas,1.0,MQ,1.0,736.0,DAB
1,201912723085,2019,1,ABI,US,TX,Texas,1.0,MQ,1.0,570.0,COS
2,201912723491,2019,1,ABI,US,TX,Texas,1.0,MQ,1.0,564.0,MCO
3,201912723428,2019,1,ABI,US,TX,Texas,1.0,MQ,1.0,345.0,LGA
4,201912723509,2019,1,ABI,US,TX,Texas,0.0,MQ,1.0,309.0,MGM

In [ ]:
# Calculating Total Expense per route

    # Calculating the distance related cost
    # Dist = For each route, we need to find the distance in miles
    # To calculate the Fuel/Oil/Maintenance/Crew Cost  =  $8 * Dist = fomc
    # To calculate the Depreciation/Insurance/Others Cost  =  $1.18 * Dist = dio
    # Add fomc + dio = dist_cost

    # Calculating the operational cost
    # For each route, find the categories of airport for the origin and dest
    # assign cost to both. If medium then $5000 and if large then $1000
    # Airport_operational_Cost = origin_cost + dest_cost


    # Calculating the Delays related cost
    # Find the cost for delays
    # If delay > 15 then the cost is (delay_time - 15) * $75
    # Check for arr_delay_cost + Dep_delay_cost = total_delay_cost

    #Total_Expense  = dist_cost + airport_operational_cost + total_delay_cost

In [ ]:
# Calculating Total Revenue per route

    # Calculate the total number of passengers and air fare cost
    # total_passenger = Occupancy rate * 200
    # Total_Airfare = airfare * total_passenger
    # Total_Baggage_Fee = 0.5 * Total_passenger * $70 

    # Total_revenue = Total_baggage_fee + Total_airfare

In [ ]:
# Total Profit Per Route

# Total_Profit = Total_revenue - Total_expense